body {
    margin: 0;
    padding: 0;
    font-family: "Reddit Sans";
    background: #141414;
    position: relative;
    
}

.background {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #00000046), linear-gradient(to bottom, rgba(0, 0, 0, 0), #14141433), url(https://occ-0-4451-1432.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABRetfGvq72uQSMf-dkbOhk80HHtrzzjE2OGwn78P8yuo2LVRqO_15Qb6zw_Im5U1eYG94hx-Jedx7cx6XhHigT2Or2PBwC548-wt.webp?r=55f);
    background-size: cover;
    background-blend-mode: normal;
    background-position: center;
    height: 50vw;
    width: 100%;
}

.main-margin {
    margin: 0 3vw;
}

h1 {
    color: red;
    font-weight: bold;
    font-size: 1.3vw;
    text-decoration: none;
}

header {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #00000096);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.left-header {
    display: flex;
    gap: 2vw;
    margin: 0 3vw
}

.movie-card {
    overflow: auto;
    border-radius: 5px;;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: auto;
}

header nav a{
    text-decoration: none;
    color: rgb(226, 226, 226);
    font-size: 0.8vw;
}

header nav a:first-child{
    color: white;
    font-weight: bold;
}

header nav a:hover:nth-child(n+2) {
    color: rgb(177, 177, 177);
}

.userpanel {
    display: flex;
    align-items: center;
    gap: 1.3vw;
    margin: 0 4vw;
}

.userpanel img {
    border-radius: 3px;
    max-width: 90%;
}

.userpanel a {
    color: white;
    text-decoration: none;
    font-size: 0.8vw;
}

.userpanel a:hover {
    color: rgb(177, 177, 177);
}

.movie-banner {
    display: flex;
    flex-direction: column;
    width: 38%;
    height: 65%;
    justify-content: flex-end;
    
}

.movie-banner p {
    color: white;
    font-size: 1.2vw;
    font-weight: 400;
    text-size-adjust: 100%;
    text-shadow: rgba(0, 0, 0, 0.45) 2px 2px 4px;
    width: 100%;
}

.fa {
    font-size: 1.5vw;
}

.play {
    text-decoration: none;
    border-radius: 3px;
    color: black;
    font-weight:700;
    font-size: 1.2vw;
    background: white;
    padding: 0.6vw;
    padding-right: 1.9vw;
    padding-left: 1.6vw;
}

.play:hover {
    background: rgba(255, 255, 255, 0.74);
} 

.info {
    color: white;
    font-size: 1.2vw;
    text-decoration: none;
    border-radius: 3px;
    font-weight:700;
    font-size: 1.2vw;
    background: rgba(109, 109, 110, 0.7);
    padding: 0.6vw;
    padding-right: 2vw;
    padding-left: 1.6vw;
    text-shadow: rgba(0, 0, 0, 0.671) 2px 2px 4px;
    
}

.info:hover {
    background: rgba(128, 128, 128, 0.411);
}

.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* recommendations */
.recommendations-top {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}

h3 {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.45) 2px 2px 4px;
    font-size: 1.3vw;
}

.movie-card {
    display: flex;
    gap: 0.5vw;
    margin-left: -5vw;
    margin-right: -3vw;
    padding-left: 5vw;
}

.movie-card::-webkit-scrollbar {
    background-color: #a5a5a5d2;
    height: 7px;
}

.movie-card::-webkit-scrollbar-thumb {
    background: #0000004f;
}

.movie-card::-webkit-scrollbar-thumb:active {
    background: #a5a5a5d2;
}

.movie-card div {
    background: rgb(128, 128, 128); 
    border-radius: 5px;
    padding: 4vw 7.5vw;
}

.movie-card div:last-child {
    margin-right: 3vw;
}

/* footer */

footer {
    margin-top: 8vw;
}

footer span {
    display: flex;
    padding-left: 27vw;
    gap: 1.3vw;
}

footer span i {
    color: white;
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

.footer-nav a,
p {
    color: grey;
}

.footer-nav p {
    font-size: 0.6vw;
}

.footer-nav a {
    font-size: 0.65vw;
    text-decoration: none;
    padding: 0.4vw ;
    text-align: center;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    margin: 0 25vw;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.hizmet {
    border: 1px solid grey;
    padding: 0 
}


@media (max-width: 1024px){
    
    .movie-card div {
        padding: 5vw 9vw;
    }
}

@media (max-width: 768px){

    .movie-card div {
        padding: 6vw 11.3vw;
    }

    .btn:target {
        display: block;
        position: fixed;
    }
}

@media (max-width: 420px){

    .movie-card {
        display: flex;
        justify-content: space-between;
        gap: 2vw;
    }

    .movie-card div {
        min-width: 70px;
        min-height: 40px;
    }

    header nav a {
        font-size: 1vw;
    }

    h1 {
        font-size: 5vw;
    }

    footer span {
        padding-left: 170px;
        margin-bottom: 15px;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .hizmet {
        margin: 0 auto;
    }

    .footer-nav a {
        font-size: 1.5vw;
    }

    .footer-nav p {
        text-align: center;
        font-size: 0.3em
    }
}
/* 

                            <a href=""><img src="https://occ-0-4451-1432.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABThVMwxeh65ImzS1byNvGRESkSMEi7qK_zLGiWsKSiqwOQ_-KdqfidvUshBZ9muvwHGSW5ev2hXkCez16VMVp1dkYxLZGnDUvyXtBRyvpWl59ny0j2DaUoMygu4sLI3Ui83CqdquLH5M7kyxedjeNYWnonFnJrDfT-YGdCfhLPp_9EH2W_vfuwPxmivrA8WofU50p8f0QDfo0fGpRub3HOHa5G4Me4dXsw6y_WH6jB8B_CErHe5c09P6GDKvItXChCazSaAPAr_XETZE_IGPOM25N9V1bluHMfum2bhMlL4KIL5D5wuhyeidTrakkC2yzQFB-HCd7FzbZ_AeL2ohxUoJQcXg7vKdev_MqKhMvXsITg.jpg?r=8d4" alt=""/></a>
                            <a href=""><img src="https://occ-0-4451-1432.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABZt9Pn5olaKCweHfdEuAoLF3LyReJ-qr3iVsxPqe1iTg7CmnyGrpuXg5hAGEloRp8xZpOmveV2ni-ku6wGr3WWmO5wgumqsg9B5jJJlEE0q8d-TXIPs_rIMSV34OC20X_hzool72A4hWK0ji7VrnDLKMCSxj8iEnTXk.webp?r=f3a" alt=""/></a>
                            <a href=""><img src="https://occ-0-4451-1432.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABW_3XGZmzFOYcdWABi5ZAAvkIghmOdmdDn0XRTKhj9KyLb2TCiaMXhXJNQlxZW5TVqpnoHLEDpe1yyeLMM7Mpj0Ts_5R5his14afk0qkLobZoBv0E_fcbVQAAcNruRLGWAY-.jpg?r=fdf" alt=""/></a>
                            <a href=""><img src="https://occ-0-4451-1432.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABVQK9IS9cFc9_9qtaiY1MRImq2XyuibnUhJrHNH4XdpDCmjc9_wvCZuwAw5AVAG69XWTWWA62sfbUYRQtVTb9U9osTFSzfU_Pz_48d6AEL4jJjFme8HAV5L8Qs81cc6CYGCGB_8BGziW9OMG1spbHtv3tN4RqtqfH8b7mrWAsFFtR07r0n0JMkiiFoDYv5iZtvnkueeQYp45qfBdhMAwFSvcKspbbnhvLGshGaQW8ffWhW3wUJENlbDFR7-UGac7MyL9gjfWJe4kMtFjng4_yKskb6swcH0pSea6_wJ6KT8baNEGI3U.jpg?r=fae" alt=""/></a>
                            <a href=""><img src="https://occ-0-4451-1432.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABexRvlPUNKk2lQhN2gNz-osqi1yGPZl9mVUz4jHwC44KjYYOg8dE7H78sdEVGO3u1zghB2G81anI7mNbVjGInq5bt9hyCoOHpMw.webp?r=379" alt=""/></a>
                            <a href=""><img src="https://occ-0-4451-1432.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABXG-_yAl6ykE09XYLmxEggvQq_TxF8gl2FrseMyRuIeIoBdL6nZEP_mQzt2fYfqC0Gq36vFoiEex3AMmcmenYPamq16qrMtgMM1veFHfTL4wluV1S7a4kK-507Mx8GIHWVjd.jpg?r=ce7" alt=""/></a>

                            */